/* Main Content */

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.olvido-section {
    background-color: var(--background-secondary);
    width: 500px;
    padding: 80px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.olvido-section h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.olvido-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.olvido-form .form-label {
    text-align: left;
    font-size: 0.9rem;
    color: var(--secondary-color);
}

.olvido-form .form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    font-size: 1rem;
}

.olvido-form .form-control:focus {
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.olvido-form .btn-form {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.olvido-form .btn-form:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    transform: scale(1.05);
}

.volver {
    margin-top: 10px;
    font-size: 0.9rem;
}

.volver a {
    color: var(--link-color);
    text-decoration: none;
}

.volver a:hover {
    text-decoration: underline;
}
