@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Definición de Colores */
:root {
    --primary-color: #0E101B; /* Encabezado, pie de página, botones */
    --secondary-color: #ffffff; /* Gris oscuro para el logo y títulos */
    --accent-color: #F6A2A8; /* Gris claro para detalles y subtítulos */
    --background-color: #0E101B; /* Fondo principal en gris claro */
    --background-secondary: #0E101B; /* Fondo para secciones secundarias */
    --text-color: #f8f3f3; /* Texto principal */
    --link-color: #f06a73; /* Color de enlaces en el menú */
}

/* General */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.menu,
.pie-pagina {
    background-color: var(--primary-color);
    color: var(--link-color);
    padding: 10px 0;
    text-align: center;
    height: auto;
    width: 100%;
}

/* Header */
.menu {
    /*fijar encabezado*/
    top: 0; /* Alinea el encabezado en la parte superior */
    left: 0; /* Alinea el encabezado a la izquierda */
    z-index: 1000; /* Asegura de que esté encima de otros elementos */
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--accent-color);
}

.logo {
    width: 30%;
    text-align: center;
}

.leyciclos {
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
    color: var(--secondary-color);
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
} 

.leyciclos span {
    font-size: 1.5rem;
    color: var(--accent-color); 
}

.opc-menu {
    width: 70%;
}

.opc-menu ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

/*efecto de linea de abajo que se agranda*/
.opc-menu ul li a {
    position: relative;
    color: var(--link-color);
    text-decoration: none;
    overflow: hidden;
}

.opc-menu ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Grosor de la línea */
    background-color: var(--link-color); /* Color de la línea */
    transition: width 0.3s ease; /* Duración y tipo de transición */
}

.opc-menu ul li a:hover::before {
    width: 100%; /* Expande la línea al 100% */
}

/*arreglos que me toco hacer debido a la implementacion de bootstrap*/

.navbar-nav {
    width: 100% !important;
    justify-content: center !important;
}

.navbar-nav .nav-link {
    padding: 10px;
}

/*navbar responsivo*/
.menu-toggle {
    display: none; /* Oculto en pantallas grandes */
    background: none;
    border: none;
    font-size: 24px;
    color: var(--link-color);
    cursor: pointer;
}

@media (max-width: 768px) {
    .logo {
        width: auto; /* Permite que se ajuste al contenido */
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1; /* Para que tome el espacio disponible */
    }

    .leyciclos {
        font-size: 1.5rem; /* Reducimos el tamaño en pantallas pequeñas */
        text-align: center;
    }

    .menu-toggle {
        display: block; /* Aparece en pantallas pequeñas */
        position: absolute;
        top: 15px;
        right: 20px;
        background: none;
        border: none;
        font-size: 24px;
        color: var(--link-color);
    }

    .opc-menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .opc-menu.open {
        display: flex;
    }

    .opc-menu ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .opc-menu ul li {
        padding: 10px 0;
    }
}

/* Main Content */

.contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
}

.cont-principal {
    display: flex;
    width: 100%;
    height: calc(100vh - 200px);
    flex: 1;
    background: linear-gradient(180deg, #2A3050 0%, #f06a73 100%);
}


.info-principal {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    padding: 5%;
}

.img-principal {
    flex: 1;
    width: 100%;
    background-image: url('../img/Imagen-Reclutamiento-Ley-de-los-Ciclos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .cont-principal {
        flex-direction: column;
        text-align: center;
    }

    .img-principal {
        width: 100%;
        min-height: 300px;
    }

    .info-principal {
        padding-bottom: 10%;
        display: flex;
        order: 2;
    }

    .img-principal {
        order: 1;
    }
}

.btn-vermas {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--link-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

/* Sobre Nosotros Section */
.sobre-nosotros {
    height: 20%;
    width: 97vw;
    padding: 5%;
    text-align: center;
    background-color: var(--background-secondary);
}

/* Secondary Content */
.cont-secundario {
    width: 100%;
    height: 50vh;
    display: flex;
}

.img-secundaria {
    flex: 1;
    width: 100%;
    background-image: url('../img/imagen-principal3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    display: flex;
}

.form-contacto {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5%;
    background: linear-gradient(150deg, #f06a73 0%, #2A3050 100%);
}

.form-contacto h2 {
    text-align: center;
}

.form-contacto .form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: transparent; 
    border: 2px solid rgba(255, 255, 255, 0.5); /* Borde semi-transparente */
    color: white; /* Color del texto */
}

.btn-form {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--link-color);
    border: none;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 768px) {
    .cont-secundario {
        flex-direction: column;
        text-align: center;
    }

    .img-secundaria {
        width: 100%;
        min-height: 300px;
    }

    .form-contacto {
        padding-bottom: 10%;
        display: flex;
        order: 2;
    }

    .img-secundaria  {
        order: 1;
    }

    .pie-pagina {
        padding-top: 280px;
    }
}

/*transiciones de botones y enlaces*/
.btn-vermas, .opc-menu ul li a, .btn-form {
    transition: all 0.3s ease;
}

.btn-vermas:hover, .btn-form:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.10);
}

/*sombras*/
.menu, .btn-vermas, footer {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cont-principal, .info-principal, .sobre-nosotros {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



/*tipografia para titulos*/
.sobre-nosotros h2, .form-contacto h2, footer h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: var(--secondary-color);
    letter-spacing: 1.5px;
}

/* Footer */
footer {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--link-color);
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

footer a {
    color: var(--link-color);
    text-decoration: none;
    margin: 0 5px;
}

