/* Main Content */

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos para la sección de login */
.login-section {
    background-color: #43434312;
    width: 500px;
    padding: 80px;
    text-align: center;
    border-radius: 10px;
    border: solid 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-section h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.login-form .form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    background-color: transparent; 
    border: 2px solid rgba(255, 255, 255, 0.5); /* Borde semi-transparente */
    color: white; /* Color del texto */
    font-size: 1rem;
}

.login-form .form-control:focus {
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.login-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-form button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    transform: scale(1.05);
}

.login-form a {
    font-size: 0.9rem;
    color: var(--secondary-color);
    text-decoration: none;
    margin-top: 10px;
}

.login-form a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-section {
        width: 90%; /* Reduce el tamaño en pantallas pequeñas */
        padding: 30px;
    }

    .login-form .form-control {
        font-size: 0.9rem;
        padding: 10px;
    }

    .login-form button {
        font-size: 0.9rem;
        padding: 10px;
    }
}